<div class="feature col" style="text-align: center;">
  <i class="bi bi-book-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
  <h3 class="fs-2">{{article.title}}</h3>
  <p>{{article.body}}</p>

  <a href="#">
    <i class="bi bi-box-arrow-up-right" style="font-size: 2rem; color: cornflowerblue;"></i>
  </a>
  <hr />
  <div class="actions">
    <button class="article-edit btn btn-secondary"><i class="bi bi-pencil-fill"></i> Edit</button> |
    <button class="article-delete btn btn-danger"><i class="bi bi-trash-fill"></i> Remove</button>
  </div>
</div>
