<div class="feature col">
  <i class="bi bi-book-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
  <h3 class="fs-2">{{article.title}}</h3>
  <p>{{article.body}}</p>
  <i class="bi bi-eye" style="font-size: 2rem; color: cornflowerblue;"></i>
  <a href="#" class="icon-link d-flex align-items-center">
    Read Article
  </a>
  <hr />
  <div class="actions">
    <button class="article-edit btn btn-secondary">Edit</button> |
    <button class="article-delete btn btn-danger">Remove</button>
  </div>
</div>
