<div class="container row py-5 d-flex justify-content-center" style="text-align:center; ">
  <div class="card justify-content-center" style=" width: 18rem;">
    <div class="card-body justify-content-center">
      <i class="bi bi-book-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
      <h5 class="card-title">{{article.title}}</h5>
      <p class="card-text">{{article.body | slice:0:100}}...</p>
      <a href="#">
        <i class="bi bi-box-arrow-up-right" style="font-size: 2rem; color: cornflowerblue;"></i>
      </a>
      <hr />
      <div class="actions">
        <button class="article-edit btn btn-secondary"><i class="bi bi-pencil-fill"></i> Edit</button> |
        <button class="article-delete btn btn-danger" data-bs-toggle="modal" data-bs-target="#excludeModal"><i class="bi bi-trash-fill"></i> Remove</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="excludeModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Delete Article!</button>
      </div>
    </div>
  </div>
</div>
