<div class="container row py-5 d-flex justify-content-center">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Delete Article {{article.title}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="acoes">
      <button class="btn btn-danger" (click)="deleteArticle()">Delete</button> |
      <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
</div>
